/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Imagen fondo*/
body {
  background-image: url(../assets/img/fondo-1.png);
  background-size: cover;
  font-family: Chillax;
}

/*Fonts*/
@font-face {
  font-family: Khand;
  src: url(../assets/fonts/Khand-Regular.otf);
}
@font-face {
  font-family: Chillax;
  src: url(../assets/fonts/Chillax-Regular.otf);
}
/*Header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #0F1142;
}
header .logo-header {
  height: 6.25rem;
}
header nav {
  font-family: Khand;
}
header nav .nav-link {
  color: rgb(171, 168, 168);
  font-size: 1.25rem;
}

/* Footer */
footer {
  background-color: #0F1142;
  padding-top: 1.25rem;
  padding-bottom: 0.3125rem;
}
footer div section a {
  text-decoration: none;
}
footer div section a .instagram {
  height: 1.875rem;
}
footer div section .facebook {
  height: 1.875rem;
}
footer div section .tiktok {
  height: 1.875rem;
}
footer div section .google-maps {
  height: 1.875rem;
}

/* Main index*/
main .carousel {
  max-width: 900px;
  margin: auto;
  margin-top: 1.875rem;
}
main .custom-img-size {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
main .info article {
  display: flex;
  justify-content: center;
  background-color: #0F1142;
  margin: 1.875rem 15.625rem 1.875rem 15.625rem;
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  font-size: 1.5625rem;
  border-radius: 3.125rem;
  color: rgb(171, 168, 168);
}
main .reservar {
  display: flex;
  justify-content: center;
  background-color: #0F1142;
  margin: 3.125rem 32.8125rem 6.25rem 32.8125rem;
  padding: 0.625rem;
  font-weight: bolder;
  border-radius: 3.125rem;
  border: solid 0.5px rgb(171, 168, 168);
}
main .reservar a {
  text-decoration: none;
  color: rgb(171, 168, 168);
}
main a .wsp {
  height: 1.875rem;
  width: 1.875rem;
  position: fixed;
  bottom: 1.875rem;
  right: 1.25rem;
}

/* Main Faq */
main .faq {
  background-color: #0F1142;
  text-align: center;
  margin: 1.875rem 9.375rem 1.875rem 9.375rem;
  border-radius: 3.125rem;
  padding: 0.3125rem 0rem 0.3125rem 0rem;
  color: rgb(171, 168, 168);
}
main .faq article h2 {
  font-size: 1.5625rem;
}
main .faq article h2 h3 {
  font-size: 1.25rem;
}

/* Main juegos*/
main div .juegosUn {
  font-size: 3.125rem;
  text-align: center;
  background-color: #0F1142;
  margin: 1.875rem 12.5rem 1.875rem 12.5rem;
  border-radius: 3.125rem;
  font-weight: bold;
  color: rgb(171, 168, 168);
}
main div .juegosUn .imgJugador {
  width: 80%;
  margin: 0 auto;
}
main div .juegosUn .imgJugador img {
  border-radius: 0.9375rem;
  height: 9.375rem;
  width: auto;
  margin: 0.625rem 0rem 0.625rem 0rem;
  box-shadow: 10px 5px 5px black;
}
main div div .juegosDos {
  font-size: 3.125rem;
  text-align: center;
  background-color: #0F1142;
  margin: 1.875rem 12.5rem 1.875rem 12.5rem;
  border-radius: 3.125rem;
  font-weight: bold;
  color: rgb(171, 168, 168);
}
main div div .juegosDos .imgJugadores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
}
main div div .juegosDos .imgJugadores img {
  border-radius: 0.9375rem;
  height: 9.375rem;
  width: auto;
  margin: 0.625rem 0rem 0.625rem 0rem;
  box-shadow: 10px 5px 5px black;
}

/* Main precios */
main .precio {
  text-align: center;
  margin: 1.875rem 6.25rem 0px 6.25rem;
  color: rgb(171, 168, 168);
}
main .precio h3 {
  font-size: 2.1875rem;
  background-color: #0F1142;
  margin: 0rem 21.875rem 1.875rem 21.875rem;
  border-radius: 3.125rem;
  font-weight: bold;
  padding: 0.3125rem 0rem 0.3125rem 0rem;
}
main .precio div {
  background-color: #0F1142;
  margin: 0px 21.875rem 1.875rem 21.875rem;
  border-radius: 3.125rem;
  padding: 0.0625rem 0rem 0.0625rem 0rem;
}

/* Main reservar */
main div div .reserva {
  text-align: center;
  background-color: #0F1142;
  font-size: 1.5625rem;
  margin: 1.875rem 29.6875rem 1.875rem 29.6875rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  color: rgb(171, 168, 168);
  border-radius: 3.125rem;
  font-weight: bold;
}
main div .precioReserva {
  text-align: center;
  color: rgb(171, 168, 168);
  background-color: #0F1142;
  font-size: 1.25rem;
  margin: 0rem 29.6875rem 1.875rem 29.6875rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  border-radius: 3.125rem;
}
main div div .formulario {
  display: flex;
  color: rgb(171, 168, 168);
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.5625rem;
}
main div div .formulario div div .uno {
  background-color: #0F1142;
  border-radius: 50%;
  font-size: 25px;
  color: rgb(171, 168, 168);
  line-height: 2.5rem;
  text-align: center;
  width: 2.5rem;
}
main div div .formulario div div .dos {
  background-color: #0F1142;
  border-radius: 50%;
  font-size: 25px;
  color: rgb(171, 168, 168);
  line-height: 2.5rem;
  text-align: center;
  width: 2.5rem;
}
main div div .formulario div div .tres {
  background-color: #0F1142;
  border-radius: 50%;
  font-size: 25px;
  color: rgb(171, 168, 168);
  line-height: 2.5rem;
  text-align: center;
  width: 2.5rem;
}
main div div .formulario div div .cuatro {
  background-color: #0F1142;
  border-radius: 50%;
  font-size: 25px;
  color: rgb(171, 168, 168);
  line-height: 2.5rem;
  text-align: center;
  width: 2.5rem;
}
main div div .formulario div div .cinco {
  background-color: #0F1142;
  border-radius: 50%;
  font-size: 25px;
  color: rgb(171, 168, 168);
  line-height: 2.5rem;
  text-align: center;
  width: 2.5rem;
}
main div div .formulario div div .seis {
  background-color: #0F1142;
  border-radius: 50%;
  font-size: 25px;
  color: rgb(171, 168, 168);
  line-height: 2.5rem;
  text-align: center;
  width: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
