/* Main juegos */
main{
        .juegosUn{
            @extend %estilos-base;
            font-size: 3.125rem;
            text-align: center;
            margin: 1.875rem 12.5rem 1.875rem 12.5rem;
            border-radius: 3.125rem;
            font-weight: bold;
            }
            .imgJugador{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 80%;
                margin: 0 auto;
                img{
                    border-radius: .9375rem;
                    height: 9.375rem;
                    width: auto;
                    margin: .625rem 0rem .625rem 0rem;
                    box-shadow: 10px 5px 5px black;
                }
            }
        
        .juegosDos{
            @extend %estilos-base;
            font-size: 3.125rem;
            text-align: center;
            margin: 1.875rem 12.5rem 1.875rem 12.5rem;
            border-radius: 3.125rem;
            font-weight: bold;

        }
            .imgJugadores{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 80%;
                margin: 0 auto;
                img{
                    border-radius: .9375rem;
                    height: 9.375rem;
                    width: auto;
                    margin: .625rem 0rem .625rem 0rem;
                    box-shadow: 10px 5px 5px black;
                }
            }
    }
