/* Main reservar */
main{
    div{
        div{
            .reserva{
                @extend %estilos-base;
                text-align: center;
                font-size: 1.5625rem;
                margin: 1.875rem 29.6875rem 1.875rem 29.6875rem;
                padding-top: .3125rem;
                padding-bottom: .3125rem;
                border-radius: 3.125rem;
                font-weight: bold;
            }
        }
        .precioReserva{
            @extend %estilos-base;
            text-align: center;
            font-size: 1.25rem;
            margin: 0rem 29.6875rem 1.875rem 29.6875rem;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            border-radius: 3.125rem;
        }
        div{
            .formulario{
                @include flex(column, center, center);
                color: $color-letras;
                width: 80%;
                margin: auto;
                margin-bottom: 2rem;
                font-size: 1.5625rem;
                div{
                    div{
                        .uno{
                            @extend %estilos-base;
                            border-radius: 50%;
                            font-size: 25px;
                            line-height: 2.5rem;
                            text-align: center;
                            width: 2.5rem; 
                        }
                    }
                    div{
                        .dos{
                            @extend %estilos-base;
                            border-radius: 50%;
                            font-size: 25px;
                            line-height: 2.5rem;
                            text-align: center;
                            width: 2.5rem; 
                        }
                    }
                    div{
                        .tres{
                            @extend %estilos-base;
                            border-radius: 50%;
                            font-size: 25px;
                            line-height: 2.5rem;
                            text-align: center;
                            width: 2.5rem; 
                        }
                    }
                    div{
                        .cuatro{
                            @extend %estilos-base;
                            border-radius: 50%;
                            font-size: 25px;
                            line-height: 2.5rem;
                            text-align: center;
                            width: 2.5rem; 
                        }
                    }
                    div{
                        .cinco{
                            @extend %estilos-base;
                            border-radius: 50%;
                            font-size: 25px;
                            line-height: 2.5rem;
                            text-align: center;
                            width: 2.5rem; 
                        }
                    }
                    div{
                        .seis{
                            @extend %estilos-base;
                            border-radius: 50%;
                            font-size: 25px;
                            line-height: 2.5rem;
                            text-align: center;
                            width: 2.5rem; 
                        }
                    }
                }
            }
        }
    }
}